<!-- 父子组件传值 -->
<app-hello-parent></app-hello-parent>
<!-- 指令 -->
<app-instruct></app-instruct>
<!-- 数据绑定 -->
<app-data-bind></app-data-bind>
<!-- 表单 -->
<app-form></app-form>
<!-- 生命周期 -->
<app-lifecycle></app-lifecycle>
<!-- 管道 -->
<app-pipe></app-pipe>
<!-- 服务 -->
<app-user-list></app-user-list>
<!-- httpclient库 -->
<app-http-client></app-http-client>

<h1>Angular Router</h1> 
<!-- 路由导航 -->
<nav>
<div>
    <a routerLink="/hello" routerLinkActive="active">hello</a>&nbsp;&nbsp;
    <a routerLink="/hello2">hello2</a>&nbsp;&nbsp;
    <a routerLink="/hello/helloeveryone">helloeveryone</a>&nbsp;&nbsp;
    <a routerLink="/hello/routerparams/12" routerLinkActive="active">routerparams-12</a>&nbsp;&nbsp;
    <a routerLink="/hello/routerparams/13" routerLinkActive="active">routerparams-13</a>&nbsp;&nbsp;
    <a routerLink="/routerfunction">routerfunction</a>
</div>
    
</nav> 
<!-- 参数路由 -->
<!-- <div>
    <a routerLink="/routerparams/12" routerLinkActive="active">routerparams-12</a>&nbsp;&nbsp;
    <a routerLink="/routerparams/13" routerLinkActive="active">routerparams-13</a>
</div> -->
<!-- 路由出口 -->
<router-outlet></router-outlet>
